{
     "button":[
     {	
          "type":"click",
          "name":"今日房源",
          "key":"V1001_TODAY_HOUSE"
      },
      {
           "name":"关于我们",
           "sub_button":[
           {
               "type":"click",
               "name":"业务介绍",
               "key":"V2001_BIZ_INTRO"
           },
           {	
               "type":"view",
               "name":"商务合作",
               "url":"http://www.baidu.com/"
            }]
       }]
 }